@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(212, 211, 211, 0.678);

}

:root {
  font-family: 'Roboto Condensed';
  --icon-size: 28px;
  --blue: rgb(55, 114, 231);
  --trending-pp-size: 34px; 
  --yellow: rgb(234, 194, 15);
  --logo: 75px;
}

.sidebar .icon>img {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: white;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 300px 2fr 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}

/* Sidebar */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  background-color: var(--blue);
  color: white;
  font-weight: 600;
}

.top>img {
  width: var(--logo);
  height: var(--logo);
}

.top {
  display: flex;
  justify-content: start;
  align-items: center;
}

.first-section {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  margin-top: 25px;
}

.first-section>ul>li.name {
  font-size: 24px;
}

.first-section>ul>li.icon {
  margin-top: 10px;
}
.first-section>ul>li.name {
  margin-top: 12px;
}

.second-section {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  margin-top: 75px;
}

.second-section>ul>li.name {
  font-size: 24px;
  margin: 2px;
}

.second-section>ul>li.icon {
  margin-top: 10px;
}
.second-section>ul>li.name {
  margin-top: 12px;
}

/* Search Bar */

.search-bar {
  grid-column: 2 / -1;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: white;
}

.search-bar .name {
  font-size: 24px;
  font-weight: 600;
}

.search-bar .pp {
  height: 40px;
  width: 40px;
}

.search-bar .icon {
  height: var(--icon-size);
  width: var(--icon-size);
  margin-left: 30px;
}

.search {
  width: 700px;
  height: 35px;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
}

/* Menu */

.menu {
  grid-column: 2 / -1;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 20px;
  box-shadow: 1px 2px 1px rgb(163, 163, 163);
  background-color: white;
}

.left-section {
  display: flex;
  gap: 20px;
}

.left-section>h2 {
  font-size: 24px;
}

.small {
  font-size: 12px;
}

.right-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.right-section button {
  width: 100px;
  height: 35px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  background-color: var(--blue);
  color: white;
}

.menu img {
  width: 60px;
  height: 60px;
}

/* Projects */

.projects {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projects h3 {
  margin-left: 20px;
  margin-top: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  margin-left: 25px;
  gap: 30px;
}

.card {
  height: 200px;
  border-left: 10px solid var(--yellow);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 1px 3px grey;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.card p {
  margin-left: 15px;
  margin-top: 10px;
}

.card>p:first-child {
  font-weight: 800;
  font-size: 16px;
  margin-top: 30px;
}

.card>p:nth-child(2) {
  font-size: 14px;
  color: gray;
  /* width: 250px; */
}

.card>.icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 25px;
  margin-right: 30px;
}

/* Announcements */

.announcements {
  grid-column: 3 / 4;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 35px;
}

.announ {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 1px 0px 5px grey;

}

.announcement {
  border-bottom: 3px solid grey;
  padding-bottom: 10px;
  
}

.announcement:last-child {
  border-bottom-style: none;
  
}

.announcement p {
  font-size: 12px;
  color: gray;
}

.announcement h3 {
  font-size: 14px;
  font-weight: 700;
}

/* Trending */

.trending {
  grid-column: 3 / -1;
  grid-row: 5 / 6;
  margin-top: -300px;
  margin-left: 25px;
  margin-right: 35px;
  margin-bottom: 50px;

}

.elements {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 25px;
  margin-top: 10px;
  box-shadow: 1px 0px 5px grey;
}

.elements img {
  width: 40px;
  height: 40px;
}

.element {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.element p:first-child {
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
}